# dependencies
node_modules
.pnp
.pnp.js
!README.md
*.md

# turbo
.turbo

# build outputs
dist
.next
out
.open-next
build
coverage

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.vercel
.pnpm-store
